body{
  width : 50%;
  margin:0 auto;
  background-color: burlywood;
}

header{
  text-align: center;
}

header h1{
  font-size : 110px;
  color : brown;
}

input{
  font-size: 20px;
  color:#2c3e50;
  width:100%;
  border:1px solid black ;
  border-radius: 5px;
  outline: none;
  border-bottom:1px solid #2c3e50;
  padding:5px;
}
.task{
  background-color: rgb(135, 44, 46);
  padding : 15px;
  margin:5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.task span{
  color : white;
}

.icon{
  float: right;
  margin-right: 20px;
}
article{
  display: grid;
}

.edit-todo{
  width:85%;
  font-size: 16px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 1px solid green;
}

.button{
  margin : 0 10px;
  padding:10px;
  font-size: 14px;
  color : #6c6777;
  background-color: black;
  border:none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
  margin-top : 15px;
}

.button.selected{
  color:#fff;
  background-color: #6c6777;
}

.button.clear{
  float: right;
  color:white;
  background-color: red;
  width: 170px;
}